.dashboard {
  display: flex;
  justify-content: center;
}
.layout {
  /* border: 1px solid; */
  height: 500px;
  width: 380px;
  margin-top: 4rem;
}
.sign_up {
  font-weight: 700;
  line-height: 79.88px;
}
.btn_container {
  display: flex;
  justify-content: center;
}
.btn_google {
  padding: 0.75em 4.4em !important;
  background: #181229 !important;
  font-size: 18px !important;
}
.email_container {
  padding: 5px;
  height: 55px;
  width: 96%;
  background-color: #f3f3f6;
  border-radius: 5px;
  padding-left: 15px;
}
.info_container {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 20px;
  width: 96%;
  height: 100px;
  background-color: #e8f8f7;
  border-radius: 5px;
}
.login_input {
  width: 100%;
  margin-top: 5px;
  padding: 16px !important;
  border: 1px solid black !important;
}
.login_input:focus {
  border: 1px black !important;
  padding: 10px;
  outline: none !important;
}
.login_btn {
  border: 2px solid #e5e5e5 !important;
  width: 96%;
  padding: 10px !important;
}
